/******************************************************************
Nombre del sitio: In Serie 4.0
Autor: Marco Antonio Hern�ndez P�rez

Importa todos los archivos en uno solo 
******************************************************************/
/*
Nombre del sitio:	In Serie 4.01
Autor:				Marco A. Hern�ndez P�rez
*/
/*********************
IMPORTS
*********************/
/*
Nonbre del sitio:	Deltal Pharma Kids
Autor:				Marco Antonio Hernández Pérez
*/
/*********************
COLORES
*********************/
/*********************
DEGRADADOS
(Claro a obscuro)
*********************/
/********** Sencillos ***********/
/*Degradado básico de 2 colores*/
/*Vertical*/
/*Horizontal*/
/*Diagonal superior*/
/*Diagonal inferior*/
/*Radial*/
/********** Efectos ***********/
/* Metal*/
/* No funciona en IE <8*/
/* Stripes No funciona en IE <9*/
/*********************
TIPOGRAFÍA
*********************/
/********** Tipos de letra ***********/
@font-face {
  font-family: 'robotobold';
  src: url('../fonts/roboto-bold-webfont.eot');
  src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-bold-webfont.woff2') format('woff2'), url('../fonts/roboto-bold-webfont.woff') format('woff'), url('../fonts/roboto-bold-webfont.ttf') format('truetype'), url('../fonts/roboto-bold-webfont.svg#robotobold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/roboto-regular-webfont.eot');
  src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-regular-webfont.woff2') format('woff2'), url('../fonts/roboto-regular-webfont.woff') format('woff'), url('../fonts/roboto-regular-webfont.ttf') format('truetype'), url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto_condensedbold';
  src: url('../fonts/robotocondensed-bold-webfont.eot');
  src: url('../fonts/robotocondensed-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/robotocondensed-bold-webfont.woff2') format('woff2'), url('../fonts/robotocondensed-bold-webfont.woff') format('woff'), url('../fonts/robotocondensed-bold-webfont.ttf') format('truetype'), url('../fonts/robotocondensed-bold-webfont.svg#roboto_condensedbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto_condensedregular';
  src: url('../fonts/robotocondensed-regular-webfont.eot');
  src: url('../fonts/robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/robotocondensed-regular-webfont.woff2') format('woff2'), url('../fonts/robotocondensed-regular-webfont.woff') format('woff'), url('../fonts/robotocondensed-regular-webfont.ttf') format('truetype'), url('../fonts/robotocondensed-regular-webfont.svg#roboto_condensedregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*Bases*/
.roboto {
  font-family: 'robotoregular', Arial, Verdana, "Helvetica Neue", Helvetica, sans-serif;
}
.roboto-bold {
  font-family: 'robotobold', Arial, Verdana, "Helvetica Neue", Helvetica, sans-serif;
}
.roboto-cond {
  font-family: 'roboto_condensedregular', Arial, Verdana, "Helvetica Neue", Helvetica, sans-serif;
}
.roboto-cond-bold {
  font-family: 'roboto_condensedbold', Arial, Verdana, "Helvetica Neue", Helvetica, sans-serif;
}
.normal {
  font-family: Arial, Verdana, "Helvetica Neue", Helvetica, sans-serif;
}
/*text decoration*/
.tnone {
  text-decoration: none;
}
.tunder {
  text-decoration: underline;
}
/* Alinear */
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
/********** Efectos ***********/
/*Normal*/
/*Inset*/
/*Emboss*/
/*Brillo*/
/*blur*/
/*3D*/
/*Silueta*/
/*Drop Cap
	Se debe definir manualmente el elemento que llevará el efecto. Esta es una muestra con <article> <p>
*/
/*********************
BORDER RADIUS
*********************/
/*********************
TRANSFORM
*********************/
/********** Bases ***********/
/********** 2D ***********/
/********** 3D ***********/
/*********************
BOX SIZING
*********************/
/* .boxSizing(border-box); */
/*********************
BOX SHADOW
*********************/
/********** Fuera ***********/
/*Sombra estándar*/
/*Sombra gruesa*/
/*Brillo*/
/*Dentro*/
/*Sombra fuera y dentro*/
/*Sombras arqueada*/
.shadow-arc {
  position: relative;
}
.shadow-arc:before,
.shadow-arc:after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 80%;
  bottom: 15px;
  left: 10px;
  width: 50%;
  max-width: 300px;
  -webkit-box-shadow: 0 15px 10px 0px #cccccc;
  -moz-box-shadow: 0 15px 10px 0px #cccccc;
  -ms-box-shadow: 0 15px 10px 0px #cccccc;
  -o-box-shadow: 0 15px 10px 0px #cccccc;
  box-shadow: 0 15px 10px 0px #cccccc;
  behavior: url(PIE.htc);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.shadow-arc:after {
  right: 10px;
  left: auto;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
}
.shadow-arc-left {
  position: relative;
}
.shadow-arc-left:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 80%;
  bottom: 15px;
  left: 10px;
  width: 50%;
  max-width: 300px;
  -webkit-box-shadow: 0 15px 10px 0px #cccccc;
  -moz-box-shadow: 0 15px 10px 0px #cccccc;
  -ms-box-shadow: 0 15px 10px 0px #cccccc;
  -o-box-shadow: 0 15px 10px 0px #cccccc;
  box-shadow: 0 15px 10px 0px #cccccc;
  behavior: url(PIE.htc);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.shadow-arc-right {
  position: relative;
}
.shadow-arc-right:after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 80%;
  bottom: 15px;
  right: 10px;
  left: auto;
  width: 50%;
  max-width: 300px;
  -webkit-box-shadow: 0 15px 10px 0px #cccccc;
  -moz-box-shadow: 0 15px 10px 0px #cccccc;
  -ms-box-shadow: 0 15px 10px 0px #cccccc;
  -o-box-shadow: 0 15px 10px 0px #cccccc;
  box-shadow: 0 15px 10px 0px #cccccc;
  behavior: url(PIE.htc);
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
}
/*Sombra tipo monumento*/
.shadow-monument {
  position: relative;
}
.shadow-monument:before {
  content: "";
  position: relative\9;
  position: absolute;
  z-index: -1;
  top: 84%;
  right: 0px;
  bottom: 0;
  left: 0px;
  background: #cccccc;
  -webkit-box-shadow: 0 0 8px 1px #cccccc;
  -moz-box-shadow: 0 0 8px 1px #cccccc;
  -ms-box-shadow: 0 0 8px 1px #cccccc;
  -o-box-shadow: 0 0 8px 1px #cccccc;
  box-shadow: 0 0 8px 1px #cccccc;
  behavior: url(PIE.htc);
  -webkit-transform: translate(-42px, 0) skew(72deg, 0);
  -moz-transform: translate(-42px, 0) skew(72deg, 0);
  -ms-transform: translate(-42px, 0) skew(72deg, 0);
  -o-transform: translate(-42px, 0) skew(72deg, 0);
  transform: translate(-42px, 0) skew(72deg, 0);
}
/*Sombra hacia los lados*/
/*********************
ANIMACIONES
*********************/
/*********************
FORMULARIOS
*********************/
/*********************
USABILIDAD
*********************/
/*********************
DESARROLLO
*********************/
/* SEO Helper */
/* Normalize */
/* Reset */
/*********************
ESTILOS GENERALES
*********************/
body {
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */

  -webkit-text-size-adjust: 100%;
  font-family: 'robotoregular', Arial, Verdana, "Helvetica Neue", Helvetica, sans-serif;
  color: #373a36;
}
.ui-overlay-a,
.ui-page-theme-a {
  background: #ffffff;
}
img {
  max-width: 100%;
}
/******* Tipograf�a ******/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 15px;
  font-family: 'robotoregular', Arial, Verdana, "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
}
h1 {
  font-size: 1.62rem;
  font-family: 'robotobold', Arial, Verdana, "Helvetica Neue", Helvetica, sans-serif;
  color: #7dc825;
}
h2 {
  font-size: 1.55rem;
  font-family: 'robotobold', Arial, Verdana, "Helvetica Neue", Helvetica, sans-serif;
  color: #f9762e;
}
h3 {
  margin-bottom: 15px;
  font-size: 1.33rem;
  color: #00a8c5;
}
h4 {
  color: #666965;
  font-size: 1.22rem;
  font-family: 'roboto_condensedbold', Arial, Verdana, "Helvetica Neue", Helvetica, sans-serif;
}
strong,
b {
  font-family: 'robotobold', Arial, Verdana, "Helvetica Neue", Helvetica, sans-serif;
}
/******* Links ******/
a,
a:visited {
  /* on hover */

  /* on click */

  /* mobile tap color */

}
/******* Listas ******/
ul li a,
ul li a:visited {
  /* on hover */

  /* on click */

  /* mobile tap color */

}
/******* Tablas ******/
/******* Forms ******/
.ui-page-theme-a .ui-body-inherit {
  background: transparent;
}
/*********************
HEADER
*********************/
header img {
  margin: 15px 0;
  width: 70%;
  text-align: center;
}
#header-home {
  min-height: 100px;
  background: #ffffff;
  text-align: center;
  border: 0;
}
#header-home img {
  margin: 15px 0;
  width: 70%;
  text-align: center;
}
#formulario {
  text-align: center;
  background: #ffffff;
  border: 0;
}
#formulario img {
  margin: 15px 0;
  width: 70%;
  text-align: center;
}
.regresar {
  background: #ffffff;
}
/*********** Logo ***********/
.logo {
  background: url("");
  width: ;
  height: ;
}
.logo span {
  display: block;
  height: 0;
  overflow: hidden;
  width: 0;
}
/*********************
HOME
*********************/
#home,
#registro {
  bottom: 0;
  padding: 35px 15px;
  background: url('../images/fondo-home.jpg') center bottom no-repeat;
  background-size: 100%;
  height: 100%;
  overflow: hidden;
}
#home h2,
#registro h2,
#home h3,
#registro h3 {
  color: #ffffff;
}
#home h2,
#registro h2 {
  margin-bottom: 10px;
}
/*********************
REGISTRO
*********************/
#registro {
  background: #00a8c5;
}
#registro label {
  color: #ffffff;
}
#registro input[type="text"],
#registro input[type="password"] {
  background: #ffffff;
  border: 1px solid #22deff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  behavior: url(PIE.htc);
}
.password-reset {
  text-align: center;
  font-family: 'roboto_condensedbold', Arial, Verdana, "Helvetica Neue", Helvetica, sans-serif;
  text-decoration: underline;
  font-style: italic;
  color: #ffffff !important;
}
.ui-input-text,
.ui-input-search {
  border: 0;
}
/*********************
MEDICINAS
*********************/
#tablas {
  margin-bottom: 15px;
}
#tablas img {
  margin: 10px 0;
}
/*********************
BOTONES
*********************/
.boton {
  margin: 10px 0;
  text-align: center;
}
.boton a:link,
.boton a:visited {
  padding: 10px 0;
  background: transparent;
  border: 1px solid #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  behavior: url(PIE.htc);
  font-size: 1.25rem;
  color: #ffffff;
  font-family: 'roboto_condensedregular', Arial, Verdana, "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
  display: block;
}
.boton a:link:hover,
.boton a:visited:hover,
.boton a:link:active,
.boton a:visited:active {
  background: transparent;
  text-decoration: none;
}
.borde a:link,
.borde a:visited {
  background: #ffffff;
  border: 1px solid #00a8c5;
  color: #00a8c5;
}
.borde a:link:hover,
.borde a:visited:hover,
.borde a:link:active,
.borde a:visited:active {
  background: #fafafa;
  text-decoration: none;
}
.azul a:link,
.azul a:visited {
  background: #00a8c5;
}
.azul a:link:hover,
.azul a:visited:hover,
.azul a:link:active,
.azul a:visited:active {
  background: #007d92;
}
.verde a:link,
.verde a:visited {
  background: #7dc825;
}
.verde a:link:hover,
.verde a:visited:hover,
.verde a:link:active,
.verde a:visited:active {
  background: #629d1d;
}
.naranja a:link,
.naranja a:visited {
  background: #f9762e;
}
.naranja a:link:hover,
.naranja a:visited:hover,
.naranja a:link:active,
.naranja a:visited:active {
  background: #ed5907;
}
.atras a:link,
.atras a:visited {
  background: url('../images/icono-atras.svg') left center no-repeat;
  background-size: 40px 40px;
  border: none;
  color: #00a8c5;
}
.atras a:link:hover,
.atras a:visited:hover,
.atras a:link:active,
.atras a:visited:active {
  background: url('../images/icono-atras.svg') left center no-repeat;
  background-size: 40px 40px;
  color: #007d92;
}
/**************** Pop up ****************/
.formula a:link,
.formula a:visited,
.formula a:hover,
.formula a:active {
  padding: 18px 0;
  padding-left: 50px;
  text-align: left;
  display: block;
  background: #7dc825 url('../images/icono-formula.svg') 10px center no-repeat;
  background-size: 30px;
}
.formula a:link:hover,
.formula a:visited:hover,
.formula a:hover:hover,
.formula a:active:hover,
.formula a:link:active,
.formula a:visited:active,
.formula a:hover:active,
.formula a:active:active {
  background: #629d1d url('../images/icono-formula.svg') 10px center no-repeat;
  background-size: 30px;
}
.adversos a:link,
.adversos a:visited,
.adversos a:hover,
.adversos a:active {
  padding: 18px 0;
  padding-left: 50px;
  text-align: left;
  display: block;
  background: #f9762e url('../images/icono-adversos.svg') 10px center no-repeat;
  background-size: 30px;
}
.adversos a:link:hover,
.adversos a:visited:hover,
.adversos a:hover:hover,
.adversos a:active:hover,
.adversos a:link:active,
.adversos a:visited:active,
.adversos a:hover:active,
.adversos a:active:active {
  background: #ed5907 url('../images/icono-adversos.svg') 10px center no-repeat;
  background-size: 30px;
}
/**************** Medicinas ****************/
.boton-medicinas {
  padding: 18px 0;
  padding-left: 50px;
  background-size: 30px;
  text-align: left;
  display: block;
}
.antibioticos a:link,
.antibioticos a:visited,
.antibioticos a:hover,
.antibioticos a:active {
  padding: 18px 0;
  padding-left: 50px;
  text-align: left;
  display: block;
  background: #00a8c5 url('../images/icono-antibioticos.svg') 10px center no-repeat;
  background-size: 30px;
}
.antibioticos a:link:hover,
.antibioticos a:visited:hover,
.antibioticos a:hover:hover,
.antibioticos a:active:hover,
.antibioticos a:link:active,
.antibioticos a:visited:active,
.antibioticos a:hover:active,
.antibioticos a:active:active {
  background: #007d92 url('../images/icono-antibioticos.svg') 10px center no-repeat;
  background-size: 30px;
}
.afines a:link,
.afines a:visited,
.afines a:hover,
.afines a:active {
  padding: 18px 0;
  padding-left: 50px;
  text-align: left;
  display: block;
  background: #00a8c5 url('../images/icono-afines.svg') 10px center no-repeat;
  background-size: 30px;
}
.afines a:link:hover,
.afines a:visited:hover,
.afines a:hover:hover,
.afines a:active:hover,
.afines a:link:active,
.afines a:visited:active,
.afines a:hover:active,
.afines a:active:active {
  background: #007d92 url('../images/icono-afines.svg') 10px center no-repeat;
  background-size: 30px;
}
.antivirales a:link,
.antivirales a:visited,
.antivirales a:hover,
.antivirales a:active {
  padding: 18px 0;
  padding-left: 50px;
  background-size: 30px;
  text-align: left;
  display: block;
  background: #00a8c5 url('../images/icono-antivirales.svg') 10px center no-repeat;
  background-size: 34px;
}
.antivirales a:link:hover,
.antivirales a:visited:hover,
.antivirales a:hover:hover,
.antivirales a:active:hover,
.antivirales a:link:active,
.antivirales a:visited:active,
.antivirales a:hover:active,
.antivirales a:active:active {
  background: #007d92 url('../images/icono-antivirales.svg') 10px center no-repeat;
  background-size: 34px;
}
.antimicoticos a:link,
.antimicoticos a:visited,
.antimicoticos a:hover,
.antimicoticos a:active {
  padding: 18px 0;
  padding-left: 50px;
  text-align: left;
  display: block;
  background: #00a8c5 url('../images/icono-antimicoticos.svg') 10px center no-repeat;
  background-size: 30px;
}
.antimicoticos a:link:hover,
.antimicoticos a:visited:hover,
.antimicoticos a:hover:hover,
.antimicoticos a:active:hover,
.antimicoticos a:link:active,
.antimicoticos a:visited:active,
.antimicoticos a:hover:active,
.antimicoticos a:active:active {
  background: #007d92 url('../images/icono-antimicoticos.svg') 10px center no-repeat;
  background-size: 30px;
}
.anestesicos a:link,
.anestesicos a:visited,
.anestesicos a:hover,
.anestesicos a:active {
  padding: 18px 0;
  padding-left: 50px;
  background-size: 30px;
  text-align: left;
  display: block;
  background: #00a8c5 url('../images/icono-anestesicos.svg') 10px center no-repeat;
  background-size: 34px;
}
.anestesicos a:link:hover,
.anestesicos a:visited:hover,
.anestesicos a:hover:hover,
.anestesicos a:active:hover,
.anestesicos a:link:active,
.anestesicos a:visited:active,
.anestesicos a:hover:active,
.anestesicos a:active:active {
  background: #007d92 url('../images/icono-anestesicos.svg') 10px center no-repeat;
  background-size: 34px;
}
.otros a:link,
.otros a:visited,
.otros a:hover,
.otros a:active {
  padding: 18px 0;
  padding-left: 50px;
  background-size: 30px;
  text-align: left;
  display: block;
  background: #00a8c5 url('../images/icono-otros.svg') 10px center no-repeat;
  background-size: 22px;
}
.otros a:link:hover,
.otros a:visited:hover,
.otros a:hover:hover,
.otros a:active:hover,
.otros a:link:active,
.otros a:visited:active,
.otros a:hover:active,
.otros a:active:active {
  background: #007d92 url('../images/icono-otros.svg') 10px center no-repeat;
  background-size: 22px;
}
/*********************
MODAL
*********************/
.ui-popup-container {
  background: #ffffff;
}
.mc-text-danger {
  color: #ff0000;
  text-align: center;
  font-style: italic;
}
/*
Nombre del sitio:	In Serie 4.0
Autor:				Marco A. Hern�ndez P�rez
*/
/* Mobile Landscape
================================================== */
/*
Nombre del sitio:	In serie 4.0
Autor:				Marco A. Hern�ndez P�rez
*/
/* Tablet portrait
================================================== */
/*
Nombre del sitio:	In serie 4.0
Autor:				Marco A. Hern�ndez P�rez
*/
/* Tablet landscape - Desktop
================================================== */
/*
Nombre del sitio:	In serie 4.0
Autor:				Marco A. Hern�ndez P�rez
*/
/* Widescreen
================================================== */
/*
Nombre del sitio:	In Serie 4.0
Autor:				Marco A. Hern�ndez P�rez
*/
/*Mobile landscape*/
@media only screen and (min-width: 481px) {
  /*********************
  HEADER
  *********************/
  /*********************
  CONTENIDO
  *********************/
  /*********************
  FOOTER
  *********************/
}
/*Tablet Portrait*/
@media only screen and (min-width: 768px) {
  /*********************
  HEADER
  *********************/
  /*********************
  CONTENIDO
  *********************/
  /*********************
  FOOTER
  *********************/
}
/*Tablet landscape - Desktop*/
@media only screen and (min-width: 1030px) {
  /*********************
  HEADER
  *********************/
  /*********************
  CONTENIDO
  *********************/
  /*********************
  FOOTER
  *********************/
}
/*Widescreen*/
@media only screen and (min-width: 1240px) {
  /*********************
  HEADER
  *********************/
  /*********************
  CONTENIDO
  *********************/
  /*********************
  FOOTER
  *********************/
}
/*Mobile Retina*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /*********************
  HEADER
  *********************/
  /*********************
  CONTENIDO
  *********************/
  /*********************
  FOOTER
  *********************/
}
